jobs:
  include:
    - stage: test
      name: "test"
      language: node_js
      node_js: "10"
      script: yarn test
    - stage: deploy android
      name: "deploy"
      language: android
      jdk: oraclejdk8
      before_install:
        - nvm install 10.15.3
        - gem install bundler
      install:
        - yarn
        - cd android/ && bundle install
      script: bundle exec fastlane beta

stages:
  - name: "test"
  - name: "deploy android"